.App {
  text-align: center;
  margin-top: 2rem;
  margin-left: 2rem;
}

h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

form {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

input {
  margin-right: 0.5rem;
  padding: 0.5rem;
}

button {
  padding: 0.5rem 1rem;
  color: black;
  background-color: grey;
}

.ExpenseReport {
  margin-top: 2rem;
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #8a8787;
}

h2 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  color: #333;
}

.add-expense-btn{
  margin-left: 10px;
}